/*============================== 
Universal styling
================================*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}



header{
    position: fixed;
    width: 100%;
    top: 0;
    background: slategray;
    padding: 20px;
}

header nav a{
    color: white;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
}

header li, nav{
    margin: 0 10px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    display: inline-block

}

nav a:hover {
    color: #efa3a3;
    transition: .3s;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding-top: 100px;
}
body {
    background-color: #d9d4d6;
    color: darkslategray;}
h1 {
    font-family: 'Noto Sans', sans-serif;
    margin: 20px 0;}

h2 {
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 10px;}

p {
    font-family: 'Assistant', sans-serif;}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background: slategray   ;
    padding: 5px;
    color: white;
}


.pseudo p::selection{
    color:teal;
    background-color: whitesmoke;
}

.pseudo p::after{
    content: " We promise only to email you the good stuff!";
    font-style: italic;
}

/*============================== 
Home page styling
================================*/

.home-top {
    text-align: center;
    background-image: url('images/charcuterie.jpg');
    background-size: cover;
    padding-top: 80px;
}
.first-intro, .second-intro {
    background: white;
    margin: 30px 0;
    padding: 20px;
    max-width: 500px;
    color: darkslategray;
    }

.home-text {
    width: 40%;
    display:inline-block;
    margin: 10px;
    padding: 10px;
    max-width: 200px;
}

.home-images img {
    width: 40%;
    display: inline-block;
}

    
/*============================== 
About page
================================*/

section.gallery img{
    width: 295px;
    padding-top: 40px;
}


/*============================== 
Recipes page
================================*/

.recipes{
    display: inline-block;
    width: 200px;
    padding: 40px;
    margin: 40px;
}

/*============================== 
Contact page
================================*/

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}
h1 {
    padding: 5px;
    margin: 5px;
    text-align: center;

}

p {
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
}

form {
    background: lightslategray;
    padding: 20px;
    max-width: 500px;
    border-radius: 4px;
    color: white;
    font-family: 'Assistant', sans-serif;
    margin: 0 auto;
}

.label_input_wrap {
    display: block;
}

.submit input {
    background: maroon;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;

}

.input-section {
    margin-bottom: 10px;
}

input{
    padding: 5px 10px;
    border-radius: 3px;
}

textarea {
    font-family: sans-serif;
    padding: 5px 10px;
    border-radius: 3px;
}