.nav {
    color: brown;
    font-family: 'Noto Sans', sans-serif;
}
body {
    background-color: #d9d4d6;
h1 {
    font-family: 'Noto Sans', sans-serif;
}

h2 {
    font-family: 'Noto Sans', sans-serif
}

p {
    font-family: 'Assistant', sans-serif;
}
.first-intro {
    background-color: white;
    margin: auto;
    padding: 20px;
    max-width: 300px;
}

.second-intro {
    background-color: white;
    margin: auto;
    padding: 20px;
    max-width: 300px;
}